{% extends 'CORE/base.html' %} {% block content %}
<section class="sec_products">
  <h2>Products</h2>
  <br>
  <div class="container-sm table-responsive">
    <table class="table table-light table-bordered table-striped table-hover align-middle table_products" align="center">>
      <caption>
        <i>+10cv</i>
      </caption>
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Missile</td>
          <td>900</td>
        </tr>
        <tr>
          <td>Ammo</td>
          <td>200</td>
        </tr>
        <tr>
          <td>Oil</td>
          <td>50</td>
        </tr>
      </tbody>

    </table>
  </div>
</section>
{% endblock %}
